<header>
  <div class="container">
    <a class="logo" href="/"><img src="/images/logo-white.png" alt="Petshop DH"></a>
    <nav>
      <ul>
        <% if (typeof usuario !== 'undefined') { %>
          <li><a href="">Olá, <%= usuario.nome %></a></li>
          <li><a href="/users/logout">Sair</a></li>        
        <% } else { %>
          <li><a href="/users/login">Login</a></li>
        <% } %>
      </ul>
    </nav>
  </div>
</header>
