/* seletor universal, utilizado para aplicar propriedades em todos elementos do HTML */
/* * {
  margin: 0;
} */

header {
  height: 110px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

header ul {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 20px;
}

header ul li {
  margin-right: 30px;
}

section.banner img {
  width: 100%;
}

section.estilo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.estilo h1 {
  font-size: 36px;
}

section.estilo div {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

section.estilo div .imagem-estilo {
  height: 500px;
  align-self: center;
}

section.trinta-off {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c2185B;
  margin: 10% 0;
  height: 550px;
}

section.trinta-off div.cards {
  width: 100%;
  display: flex;
  justify-content: center;
}

section.trinta-off div.cards div {
  background-color: #fff;
  margin: 15px;
}

section.ver-detalhes {
  display: flex;
  justify-content: space-around;
}
