/* seletor universal, utilizado para aplicar propriedades em todos elementos do HTML */
/* * {
  margin: 0;
} */

header {
  height: 110px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 1px 20px rgb(139 139 139 / 65%);
}

header ul {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 20px;
}

header ul li {
  margin-right: 30px;
}

section.banner img {
  width: 100%;
}

section.estilo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.estilo h1 {
  font-size: 36px;
}

section.estilo div {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

section.estilo div .imagem-estilo {
  height: 500px;
  align-self: center;
}

section.trinta-off {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c2185B;
  margin: 10% 0;
  height: 550px;
  color: #fff;
}

section.trinta-off div.cards {
  width: 100%;
  display: flex;
  justify-content: center;
}

section.trinta-off div.cards div {
  background-color: #fff;
  margin: 15px;
}

section.ver-detalhes {
  display: flex;
  justify-content: space-around;
}

div.conteudo-sandalia {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 40%;
}

div.conteudo-sandalia h1 {
  text-transform: uppercase;
  font-size: 36px;
}

div.conteudo-sandalia button {
  color: #fff;
  background: #c2185B;
  width: 230px;
  font-size: 24px;
  height: 50px;
  border: none;
  margin-bottom: 50px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 200px;
  color: #fff;
  background: #c2185B;
  margin: 100px 0 0 0;
}

footer div.footer-logo {
  width: 30%;
  display: flex;
  flex-direction: column;
}

footer div.footer-logo img {
  width: 200px;
  height: 100px;
}

footer div.footer-listas {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

footer div.footer-listas ul {
  list-style: none;
}