/* seletor universal, utilizado para aplicar propriedades em todos elementos do HTML */
/* * {
  margin: 0;
} */

header {
  height: 110px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 1px 20px rgb(139 139 139 / 65%);
}

/* início efeito rotação do logo utilizando rotate */
header img {
  transition: transform 0.8s ease-in-out;
  transform: rotate(0deg);
}

header img:hover {
  transform: rotate(180deg);
}
/* fim efeito rotação do logo utilizando rotate */

header ul {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 20px;
}

header ul li {
  margin-right: 30px;
}

section.banner img {
  width: 100%;
}

section.estilo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.estilo h1 {
  font-size: 36px;
}

section.estilo div {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/* inicio hover imagens section estilo e ver-detalhes */
section.estilo div img, 
section.ver-detalhes div.conteudo-sandalia img,
section.ver-detalhes img {
  cursor: pointer;
  opacity: 1;
  /* aplica uma transição mais suave */
  transition: opacity 0.8s ease-in-out;
}
/* fim hover imagens section estilo e ver-detalhes */

section.estilo div img:hover,
section.ver-detalhes div.conteudo-sandalia img:hover,
section.ver-detalhes img:hover {
  opacity: 0.5;
}

section.estilo div .imagem-estilo {
  height: 500px;
  align-self: center;
}

section.trinta-off {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c2185B;
  margin: 10% 0;
  height: 550px;
  color: #fff;
}

section.trinta-off div.cards {
  width: 100%;
  display: flex;
  justify-content: center;
}

section.trinta-off div.cards div {
  color: #000;
  background-color: #fff;
  margin: 15px;
}

/* inicio hover section 30%off */
div.cards div img {
  cursor: pointer;
  opacity: 0.5;
  /* Aplica uma transição mais suave */
  transition: opacity 0.8s ease-in-out;
}

div.cards div img:hover {
  opacity: 1;
}
/* fim hover section 30%off */

section.ver-detalhes {
  display: flex;
  justify-content: space-around;
}

div.conteudo-sandalia {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 40%;
}

div.conteudo-sandalia h1 {
  text-transform: uppercase;
  font-size: 36px;
}

div.conteudo-sandalia button {
  color: #fff;
  background: #c2185B;
  width: 230px;
  font-size: 24px;
  height: 50px;
  border: none;
  margin-bottom: 50px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 200px;
  color: #fff;
  background: #c2185B;
  margin: 100px 0 0 0;
}

footer div.footer-logo {
  width: 30%;
  display: flex;
  flex-direction: column;
}

footer div.footer-logo img {
  width: 200px;
  height: 100px;
}

footer div.footer-listas {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

footer div.footer-listas ul {
  list-style: none;
}