header {
  position: fixed;
  top: 0;
}

section.banner-ofertas {
  width: 100%;
  color: #fff;
  background-color: #c2185B;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 16vh
}

main {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  margin-top: 180px;
}

main h1 {
  font-size: 36px;
  color: darkgray;
}

main div.secoes { 
  display: flex;
  justify-content: space-between;
}

section.formulario, section.infos-formulario {
  width: 40%
}

section.formulario form {
  display: flex;
  flex-direction: column;
  color: darkgray;
}

section.formulario form textarea {
  resize: none;
}

section.formulario div.curriculo button {
  border: none;
  width: 100px;
  height: 25px;
  color: #fff;
  background: #a9a9a9

  ;
}

section.formulario form button.enviar-infos {
  color: #fff;
  background: #c2185B;
  font-size: 24px;
  height: 30px;
  border: none;
  transition: 2s;
  transition-delay: 0.5s;
}

section.formulario form button.enviar-infos:hover{
  color: #c2185B;
  background: #fff;
  border: solid 0.5px #a9a9a9;
}


label, input {
  margin: 5px 0;
}

.my-5 {
  margin: 20px 0;
}