<%- include('./partials/head'); %> 
  <%- include('./partials/header'); %> 
  <main class="container">
    <section class="mt-3" id="clientes">
      <h1>Cadastro de Clientes</h1>
      <p>Preencha os campos abaixo para efetuar cadastro</p>

      <form action="/clientes/salvar" method="POST">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="input-nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="input-nome" placeholder="Insira seu nome">
          </div>
          <div class="form-group col-md-6">
            <label for="input-email">E-mail</label>
            <input type="email" class="form-control" name="email" id="input-email" placeholder="Email@exemplo.com">
          </div>
          <div class="form-group col-md-6">
            <label for="input-cpf">CPF</label>
            <input type="text" class="form-control" name="cpf" id="input-cpf" placeholder="Informe seu cpf" aria-label="Informe seu cpf">
          </div>
          <div class="form-group col-md-6">
            <label for="Sexo">Sexo</label>
            <select class="form-control" name="sexo" id="sexo" aria-label="Selecione...">
              <option value="M">Masculino</option>
              <option value="F">Feminino</option>
            </select>
          </div>
        </div>
        <% if (typeof adicionado !== "undefined") { %>
          <div class="form-group col-md-12 alert alert-success">
            Cliente cadastrado com sucesso
          </div>
        <% } %> 
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </section>
  </main>
  <%- include('./partials/footer'); %> 
</body>
</html>